#niessa{display:none;}
#poiane{display:none;}
#namuli{display:none;}
#junho{display:none;}
#namicopo{display:none;}
#curapine{display:none;}
#muhala{display:none;}
#naihava{display:none;}
#namihasse{display:none;}
#mutekereque{display:none;}
#mesa{display:none;}
#chica{display:none;}
#naculue{display:none;}
#namalili{display:none;}
#pajara{display:none;}
#unidade{display:none;}
#nanrele{display:none;}
#mutepa{display:none;}
#marrocane{display:none;}
#namacula{display:none;}
#napipine{display:none;}
#intatapila{display:none;}
#mutenapo{display:none;}
#nacuacuali{display:none;}
#nathove{display:none;}
#monapo{display:none;}
#mavoto{display:none;}
#malate{display: none;}
#mueteia{display:none;}
#cuirini{display:none;}
#malapa{display:none;}
#palaco{display:none;}

