#repele{
    display: none;
}
#lione{
    display: none;
}
#chala{
    display: block;
}
#missoro{
    display: none;
}
#repele{
    display: none;
}
#changaussa{
    display: none;
}
#arama{
    display: none;
}
#napalavi{
    display: none;
}
#luguesse{
    display: none;
}


